#header{
  color: gray;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: serif;
}

#container{
  padding: 10px;
  margin-bottom: 20px;
}

#image{
  width: 300px;
  height: 300px;
  margin-right: 30px;

}

#anchor{
  margin-left: 30px;
  font-size: 16px;
  text-decoration: none;
  color: gray;
}

#tab{
  top: 60px;
  margin: auto;
}

#tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#tab tr:hover {background-color: #ddd;}

#tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

input{
  margin-bottom: 0px;
}

body{
  text-align: center;
}

#movies_div, #tab{
  float: left;
  width: 70%;
  padding-left: 0px;
}


#intp, input{
  margin-top: 14px;
  float: right;
  border: 2px solid blue;
}
